{% extends "base.html" %}

{% block content %}
  <h2>Register</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label }}<br>{{ form.name(size=32) }}</p>
    <p>{{ form.username.label }}<br>{{ form.username(size=32) }}</p>
    <p>{{ form.email.label }}<br>{{ form.email(size=32) }}</p>
    <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
    <p>{{ form.password2.label }}<br>{{ form.password2(size=32) }}</p>
    <p>{{ form.balance.label }}<br>{{ form.balance(size=32) }}</p>
    <p>{{ form.commission_rate.label }}<br>{{ form.commission_rate(size=32) }}</p>
    <p>{{ form.URL_webhook.label }}<br>{{ form.URL_webhook(size=32) }}</p>


    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
